<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "件のエラー　") %> このタスク内容では保存できません。</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タスク名 %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :タスク詳細 %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :終了期限 %>
    <%= form.datetime_select :deadline %>
  </div>

  <div class="field">
    <%= form.label :状態 %>
    <%= form.select :status, ["未着手","着手中","完了"] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
